// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;


//font weights
$fontweight-bold-heavry: 900;
$fontweight-bold-light: 600;

//font sizes
$fontsize-h3: 1.5rem;

//set padding
@mixin set-padding {
  padding: 5% 6%;
}

// set text align center
@mixin center-text {
  text-align: center;
}
